<form
  class="striscioline-form"
  [formGroup]="strisciolineForm"
  (ngSubmit)="onSubmit()"
>
  <div formArrayName="questionsFArr">
    <mat-form-field
      class="striscioline-full-width"
      *ngFor="let q of questionsFArr.controls; let i = index"
    >
      <mat-label>{{ questions[i] }}</mat-label>
      <input
        matInput
        type="text"
        [formControlName]="i"
        maxlength="144"
        required
      />
    </mat-form-field>
  </div>

  <button
    type="submit"
    [disabled]="!strisciolineForm.valid"
    mat-raised-button
    color="primary"
  >
    Submit
  </button>
</form>
